#product-categories .col {
  margin: 10px auto;
  box-shadow: 0 4px 2px -2px gray;
}
.d-grid {
  .text-center .btn {
    width: 300px;
    color: white;
    background-color: #006a67;
    border: none;
  }
  .divider {
    border: 3px solid #006a67;
    margin: 10px 0;
  }
}

#product-categories {
  .col-lg-3 {
    width: 13% !important;
    img {
      width: 70%;
    }
  }
  .col-md-3 {
    width: 20% !important ;
    img {
      width: 60%;
    }
  }
  .col-sm-6 {
    width: 25% !important;
    img {
      width: 60% !important;
    }
  }
}

.sponsor-content {
  img {
    width: 120px;
    object-fit: scale-down;
  }
}
